## <font color=grey>Lecture Notes: Day 1 - Python Basics</font>
## Topics covered
- Print  
- Comment 
- Values, Variables and Data Types
  - type conversion 
  - snake_casing
- Operators
- Conditionals - Logical Expressions
- Indentation
- Iterations (loop)
- List
- Strings 

- How programs are executed
- How to write a simple python program (optional)
- High level language properties 
    - source code -> interpreter -> output
- Introduce python interpreter 
    - open cmd .

In [11]:
print("hello world")

hello world

## Single vs Double Quoutes ' , "

In [40]:
print('hello world')
print("hello world")

hello world
hello world

## Syntax for calling function

In [20]:
# function_name (  )
# function_name ( ? )
# function_name ( ?,? )
# function_name ( ?,?,.... )

6

In [43]:
# Examples
print ( "hello world" )
print ( 1 )
print ( 2.5 )
print (True)

hello world
1
2.5
True

In [44]:
# Example 2

# 2 inputs
# types of those inputs.
#1st str
#2nd str

print("hello", "world")
print("Name", 1)

hello world
Name 1

In [45]:
# can pass infite no of inputs to print function
print(1,2,3,4,5)

1 2 3 4 5

# Diff between String Vs Something else

In [32]:
# print(Bala)

In [33]:
print("Bala")

Bala

## Values

In [ ]:
# value

"hello world"  #str
10             #int
5.4            #float
True           #bool
False          #bool

## True Vs "True"

In [ ]:
True
"True"

## single line comment

In [37]:
# Comment
print(1)
print(2)
print(3)

1
3

## Multi line comment

In [39]:
print(1)
print(2)
"""
print(3)
print(4)
print(5)
"""
print(6)

1
2
6

## Values, Variables and Data Types

- Creating Variables
- Re-Assign values to variables
- Variable Naming Convention `snake_casing`
- type conversion

In [1]:
#value
# 10       -    int
# 10.5     -    float
# True     -    bool
# False    -    bool
# "hello"  - str

In [17]:
#variable_name =  ?
#object    = class()

name      = "Bala"
age       = 27
cpg       = 4.5
is_passed = True
contact   = "+65-90900090"

# 1. cannot use any exising python keyword
# 2. cannot have any special char except _
# 3. cannot have any spaces in your variable name
# b4. cannot starts with a number

## Examples

In [11]:
#no special char
#name! = "bala" 
name = "bala"

#snake_casing
#name of the student = "bala"
name_of_the_student = "bala"

# cannot starts with number
#1st_name = "bala"
_1st_name = "bala"

## Conventions

In [ ]:
PI = 3.14

#PI is constant, which should not be changed...
#Eventhough its a variable, by convention.
# More info, read Python PEP 8 Style Guide, or Google Python Style Guide

## Quiz1: Create 5 variables

In [21]:
name = "Bala"

#Hi ?? Welcome to Python Class
#print("Hi Bala Welcome to Python Class")

print ( "Hi" , name , "Welcome to Python Class")

Hi Bala Welcome to Python Class

## Operators , Expressions, Statements

In [22]:
x = 10
y = 2

In [ ]:
+
-
*
/

//
%
**

In [34]:
x + y

12

In [35]:
x - y

8

In [36]:
x * y

20

In [28]:
x / y

5.0

In [29]:
x // y

5

In [33]:
x ** y

100

In [24]:
res = x + y

In [25]:
res

12

In [37]:
x = 10.
y = 2.

x+y, x-y, x*y, x/y, x//y, x**y

(12.0, 8.0, 20.0, 5.0, 5.0, 100.0)

In [38]:
x = "hello"
y = "world"

x + y

'helloworld'

In [42]:
x // y

TypeError: unsupported operand type(s) for //: 'str' and 'str'

In [45]:
x = True
y = False

x + y

1

In [52]:
x ** y

1

In [46]:
# True = 1
# False = 0

In [53]:
x = 10
y = True

In [56]:
x+y, x-y, x*y

(11, 9, 10)

In [68]:
msg = "hello"
#msg + 10 #incorrect & Error
msg * 10 # repeats..

'hellohellohellohellohellohellohellohellohellohello'

In [67]:
# [10,20,30]  *  3

In [66]:
# [1,2,3] + [2,3,4]

In [69]:
# res = x + y + z
# res = x + (y * z)**2

## Quiz 2

In [87]:
# Quiz 2

a = input("Enter your value for A")
b = input("Enter your value for B")

#HINT: Make sure to convert both a and b , as int or float
a = float(a)
b = float(b)

print("A = ", a)
print("B = ", b)
print("A+B =", a+b)
print("A-B =", a-b)
print("A*B =", a*b)
print("A/B =", a/b)


# Do all the operations
# +
# -
# *
# /
# **

Enter your value for A10
Enter your value for B20
A =  10.0
B =  20.0
A+B = 30.0
A-B = -10.0
A*B = 200.0
A/B = 0.5

In [88]:
print("A+B =", a+b)

A+B = 30.0

In [89]:
print("a+b =", a+b)

a+b = 30.0

In [94]:
a = 10
b = 20
res = a + b

print( f"{a} + {b} = {res}" )
print( "{a} + {b} = {res}" )

A=10, B=20, A+B: 10+20 = 30

10 + 20 = 30
{a} + {b} = {res}

In [97]:
a = 1
b = 2
print(f"A={a}, B={b}, A+B: {a}+{b} = {a+b}")

A=1, B=2, A+B: 1+2 = 3

In [90]:
print(a,"+",b," =", a+b)

10.0 + 20.0  = 30.0

In [77]:
"10" + "20"

'1020'

In [80]:
int("100")

100

In [81]:
# creat a string 
name = "BALA"

# try to convert it into a list
#str -> list

list(name)

['B', 'A', 'L', 'A']

In [82]:
tuple(name)

('B', 'A', 'L', 'A')

In [83]:
set(name)

{'A', 'B', 'L'}

In [75]:
src - target
int - str

str -> int

bool -> int

TypeError: can only concatenate str (not "int") to str

In [73]:
a = 10
b = 20

## String Formatting - tips

In [99]:
name = "Bala"

msg = f"Hi {name}, Welcome to the course"
print(msg)

Hi Bala, Welcome to the course

## Conditional & Logical Operators

In [ ]:
==
!=
<
>
<=
>=


and
or
not

In [136]:
valid_uname = "admin"
valid_password = "secret"

In [ ]:
? and ?
or
not

In [139]:
your_username = input("Enter your username")
your_password = input("Enter your password")

if your_username==valid_uname and your_password == valid_password:
    print("Logged in as Admin")
else:
    print("please check your username/password")

Enter your usernamedasdsa
Enter your passworddasdas
please check your username/password

In [127]:
your_username = input("Enter your username")
your_password = input("Enter your password")

if your_username==valid_uname:
    if your_password == valid_password:        
        print("Logged in as Admin")
    else:
        print("Password is incorrect")
else:
    print("please check your username ")

False

In [142]:
your_username = input("Enter your username")
your_password = input("Enter your password")

if your_username==valid_uname:
    if your_password == valid_password:        
        print("Logged in as Admin")
    else:
        print("Password is incorrect")
else:
    print("please check your username ")

Enter your usernameadmin
Enter your passwordsecret
Logged in as Admin

In [ ]:
age <18 ### discount 0.5
19 - 40   ### discount 0.4
> 40   ### discount 0.3

In [146]:
import sys
age = int(input("Enter your age"))

#check if the age is negative..and stop the program
if age<0:
    sys.exit()


if age <= 18:
    print("Discount: 0.5")
elif age >= 19 and age <= 40:
    print("Discount: 0.4")
else:
    print("Discount: 0.3")

Enter your age42
Discount: 0.3

In [126]:
num = input("enter a number")
num = int(num)

is_even = num % 2 == 0
print(is_even)

enter a number10
True

In [121]:
password == "secret"

True

In [135]:
age = int(input("Enter your age"))

#make sure age is not a negative number..
#if its a negative number, 

if age >= 0:
    print("Valid age..")  
else:
    print("Invalid age, Age cannot be -ve")

Enter your age-1
Invalid age, Age cannot be -ve

In [119]:
# ASCII A = 65, a=97
# for i in range(30):
#     print(chr(85+i), 85+i)

# Quiz 3

In [147]:
a = input("Enter your value for A")
b = input("Enter your value for B")
ops = input("Enter the operator: +,-,*,/")

a = float(a)
b = float(b)

#HINT: use if elif

print("A = ", a)
print("B = ", b)
print("A+B =", a+b)
print("A-B =", a-b)
print("A*B =", a*b)
print("A/B =", a/b)

Enter your value for A10
Enter your value for B20
Enter the operator: +,-,*,/*
A =  10.0
B =  20.0
A+B = 30.0
A-B = -10.0
A*B = 200.0
A/B = 0.5

## if-elif example

In [ ]:
import sys
age = int(input("Enter your age"))
if age <= 18:
    print("Discount: 0.5")
elif age >= 19 and age <= 40:
    print("Discount: 0.4")
else:
    print("Discount: 0.3")

## Branching Statements

In [ ]:
if ???:
    pass

In [ ]:
if ???:
    pass
else:
    pass

In [ ]:
if ???:
    pass
elif ????:
    pass
elif ??:
    pass
else:
    pass

## Sol for Quiz 3

In [153]:
a = input("Enter your value for A")
b = input("Enter your value for B")
ops = input("Enter the operator: +,-,*,/")
a,b = float(a),float(b)
res = None

if ops == "+":
    res = a+b
elif ops == "-":
    res = a-b
elif ops == "*":
    res = a*b
elif ops == "/":
    res = a/b
else:
    print("Invalid Operator")

message = f"a={a}, b={b}, {a} {ops} {b}= {res}"
print(message)

Enter your value for A10
Enter your value for B2
Enter the operator: +,-,*,/*
a=10.0, b=2.0, 10.0 * 2.0= 20.0

In [167]:
a = input("Enter your value for A")
b = input("Enter your value for B")
ops = input("Enter the operator: +,-,*,/")

# a,b = float(a),float(b)
expr = f" {a} {ops} {b}"
res  = eval(expr)#sensitive to inputs... 

print(expr, res)

Enter your value for A10
Enter your value for B20
Enter the operator: +,-,*,/+
 10 + 20 30

## Loops

## Quiz 4

In [170]:
index = 1

if index < 5:
    print(index)
    index =  index +1

1

In [174]:
# 10,8,6,4,2

pos = 10

while pos > 1 :
    print(pos)
    pos = pos - 2

10
8
6
4
2

In [ ]:
10,8,6,4,2



1,3,5,7,9

In [3]:
for i in range(4):
    print(i)

0
1
2
3

In [5]:
list(range(2,3))

[2]

In [6]:
# range(stop)

# range(start,stop)

# range(start,stop,step)

# range(start,stop,-step)

# range(1,5,2)

In [177]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [178]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [180]:
# 1,3,...9

list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [ ]:
10,8,6,4,2

In [181]:
list(range(10,1, -2))

[10, 8, 6, 4, 2]

In [ ]:
100,50,10

In [184]:
list(range(100,49,-10))

[100, 90, 80, 70, 60, 50]

In [ ]:
for item in collection:
    print(item)

In [ ]:
for i in range(10):
    print(i)

In [190]:
for value in "HELLO":
    print(value)

H
E
L
L
O

In [186]:
for char in "HELLO":
    print(char)

H
E
L
L
O

In [187]:
for char in [10,20,30]:
    print(char)

10
20
30

In [188]:
for num in (15,30,45):
    print(num)

15
30
45

In [189]:
for num in {1,2,3}:
    print(num)

1
2
3

In [193]:
for i in range(1,5):
    if i == 2:
        continue
    print(i)

1
3
4

In [173]:
pos = 1

while pos < 10 :
    print(pos)
    pos = pos + 2

1
3
5
7
9

## Things to experiment and digest

- if else
- if 
- if elif elif else
- variables & types
- for loop, while loop
- range

## <font color = grey>Lecture Notes: Day 2 - Advanced Concepts in Python</font>
## Comming up next for Day 2

- Functions
---
- List
- Tuple
- Dictionary - JSON in js
---
- Exception Handling
---
- Classes / objects

---
- Modules
- Import
- Reading docs - walk through how to use external libraries

In [194]:
items = [10, 20.5, True, False, "Hello"]

In [196]:
for item in items:
    print(item, type(item))

10 <class 'int'>
20.5 <class 'float'>
True <class 'bool'>
False <class 'bool'>
Hello <class 'str'>

In [197]:
name = "bala"

In [198]:
name.endswith("la")

True

In [199]:
age = 27

In [ ]:
age.