## Day 2 - Agenda

- Functions
---
- List
- Tuple
- Dictionary - JSON in js
---
- Exception Handling
---
- Classes / objects

---
- Modules
- Import
- Reading docs - walk through how to use external libraries

## Q/A

In [1]:
a = 10
b = 20

type_of_a = type(a)
type_of_b = type(b)

res =    30

if a>=0 and b>=0:
    print("Both a,b are +ve")

Both a,b are +ve

## Simple Function

In [6]:
# Define a function
def sum(a,b):
    print("I got two inputs...", a,b)
    res = a + b
    return 3

#Calling a function
result = sum(1,2)
#result = 3

## Function Syntax =

In [ ]:
#Define a func
def <function_name>(var1 , var2):
    print()
    ..
    ..
    ..
    return ??

In [ ]:
#Call a func
<function_name>(?, ?)

## Quiz 1

In [29]:
# expr = "1+2"
# eval(expr)

In [22]:
## Define the Calculate function Based on the following requirement
def Calculate(x , y, ops):
    if ops in "+-*/**":
        expr = f"{x} {ops} {y}"
        res = eval(expr)
        return res
    else:
        return "Unknown Operator"

In [26]:
# ## Define the Calculate function Based on the following requirement
# def Calculate(x , y, ops):
#     if ops in "+-*/**":
#         expr = f"{x} {ops} {y}"
#         res = eval(expr)
#     else:
#         res = "Unknown Operator"
#     return res

In [23]:
# Usage...

res = Calculate(10,20,"+") #return the result of the operation
print(res)

30

In [24]:
Calculate(10,20.5,"-")

-10.5

In [25]:
Calculate(10,20.5,")") #return as Invalid Operator

'Unknown Operator'

## Example function 2

In [30]:
from IPython.display import Image, display
# Binary step
url = "https://wikimedia.org/api/rest_v1/media/math/render/svg/729e75e92835e4a6ec424921f3fcdbea050bb3a7"
Image(url=url)

In [31]:
def f(x):
    if x <0:
        return 0
    else:
        return 1

In [34]:
f(10)

1

## Quiz 3

In [38]:
# ## Write a Function to do something...
# <code for the function>

# 1. Function name
# 2. No of inputs 
# 3. How to use the function

In [42]:
# doc string

def absolute (x):
    """
    This is a simple abs function
    Inputs: x (int)
    Return: abs version of x
    """
    if x<0:
        return -x
    if x>=0:
        return x

In [43]:
# absolute(<HOLD SHIFT KEY + TAB KEY>) to get the Function Description.. DocString

In [ ]:
# absolute()

In [44]:
def checkBMI(x,y):
    if x/y > 2.0:
        return "overweight"
    elif x/y > 1.6:
        return "normalweight"
    else:
        return "underweight"

In [47]:
checkBMI(1,2)

'underweight'

### More Python functions features

1. positional arguments vs keyword arguments
    - positional args following keyword arguments ERROR
2. optional arguments / default values
3. function are values
4. function compostition
5. recursion
6. vardict functions
    - `*args, **kwargs`
7. returning multiple values from functions

In [ ]:
# positional arguments vs keyword arguments

In [71]:
# def Calculate(x, y, ops=default_Value):
def Calculate(x, y, ops="+"):
    if ops in "+-*/**":
        expr = f"{x} {ops} {y}"
        res = eval(expr)
        return res
    else:
        return "Unknown Operator"

In [72]:
# postional argument example
Calculate(1,2,"+")

3

In [73]:
# named/keyword argument example
Calculate(x=1, y=2,ops="+")

3

In [74]:
# named/keyword argument example
Calculate(y=1, x=2,ops="+")

3

In [75]:
# named/keyword argument example
Calculate(y=1, x=2, ops="+")

3

In [78]:
Calculate(1,2) #i want to add...

3

In [ ]:
Calculate(1,2)

In [79]:
Calculate(1,2,"+")
Calculate(x=1,y=2,ops="+")

3

In [81]:
Calculate(x=1,y=2, ops="/")

0.5

## Functions as values

In [ ]:
1. ?
a = print

2. # Calling a function
b = print(1,23)

In [83]:
r = Calculate

In [85]:
res = Calculate(1,2,"+")

In [84]:
r(1,2)

3

In [87]:
fns = [print,input,Calculate]

for f in fns:
    print(f)

<built-in function print>
<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x0000018C7EB7F518>>
<function Calculate at 0x0000018C7FBDFEA0>

## function compostition

In [88]:
def f(x):
    return x*x

def g(x):
    return -x

def h(x):
    return -x

res = f(g(h(10)))
# res = 100
res

100

## recursion

In [95]:
# def hello():
#     print("Hello")
#     hello()

In [94]:
# hello()

- vardict functions
- `*args, **kwargs`

In [97]:
print(1,2)

1 2

In [96]:
print(1,2,3)

1 2 3

In [98]:
print(1,2,3,4,5)

1 2 3 4 5

## Example

In [118]:
def sum(*args):
    acc = 0
    for item in args:
        acc = acc + item
    return acc

In [119]:
sum(1,2,3,5)

11

In [120]:
sum(1,2,3)

6

In [113]:
sum(1,2,3,4,5,5,4353)

(1, 2, 3, 4, 5, 5, 4353)

# returning multiple values from functions

In [129]:
def CalculateV1(x, y, ops="+"):
    if ops in "+-*/**":
        expr = f"{x} {ops} {y}"
        res = eval(expr)
        return (expr, res)
    else:
        expr = f"{x} {ops} {y}"
        return (expr,"Unknown Operator")

In [134]:
#unwrapping the tuple
expr,value = CalculateV1(1,2,"*")

## unwrapping issues...

In [137]:
a,b,c = (1,2,3,4)

ValueError: too many values to unpack (expected 3)

In [141]:
a,b,c = (1,2)

ValueError: not enough values to unpack (expected 3, got 2)

## Data Structures 
- **list**
- tuple
- str
- **dict**
- set

---

- How to create ?
- How to access items
    - access 1 item
    - access multiple items (slice)
- How to add items into ?
    - insert into 
    - insert at a specific position
- How to delete items into ?
    - delete an item based on postion
    - delete an item based on value
- How to modify items ?
    - change an item

In [ ]:
#Values- Primitive

int
float
bool
str

list
tuple
dict
set

## Examples

In [142]:
#list [?, ? , ?]
student_names = [ "bala", "tom", "ken" ]

#tuple  (?,?)
student_marks = ( 90, 80, 80)

#str
name = "TOM"

#set
num_set = {  10,20,30 }

#dict -JSON
student_dct = {
    "name"    : "bala",
    "contact" : 90909090,
    "school"  : "NUS",
    "age"     : 27
}

In [147]:
# mix diff types..
# [ {1,2,3} , (10,20) ]
# [{}, {}]
# {
#     "a": [],
#     "b": ()
# }

In [143]:
student_names

['bala', 'tom', 'ken']

In [144]:
student_marks

(90, 80, 80)

In [145]:
student_dct

{'name': 'bala', 'contact': 90909090, 'school': 'NUS', 'age': 27}

# list
- index

In [152]:
# [ ?, , , , ]
# int,float,str,bool
# list

In [153]:
nums = [90,80,70]

In [154]:
nums = [90,80,70]

print(nums[1])

80

In [158]:
nums_tuple = (100,200,300)

In [160]:
# nums_tuple[2]

In [163]:
name = "STACKUP"

In [164]:
name[4]

'K'

In [167]:
contact_book = {
    "bala" : 90900990,
    "ken"  : 80808080,
    "mobile":{
        "phone": 91919191
    }
}

In [166]:
contact_book['ken']

80808080

In [169]:
contact_book["mobile"]['phone']

91919191

In [ ]:
# to point to a value in a particular index.

#collection[index]

In [161]:
# nums[2]

In [155]:
nums[3]

IndexError: list index out of range

In [170]:
nums

[90, 80, 70]

In [171]:
nums[-1]

70

In [172]:
nums[-2]

80

In [173]:
nums[-3]

90

In [174]:
nums[-4]

IndexError: list index out of range

## Quiz 3

1. create a list with 5 items (ints)
2. print the last two values from the list

In [175]:
A = [9,7,1,2,3]

In [179]:
print(A[-2],A[-1])

2 3

In [ ]:
collection [ start_index : end_index : step ]

start_index: 0
end_index :  until the last element
step :  1

In [180]:
A[ 1 : 4  ]

[7, 1, 2]

In [185]:
A [  : ]

[9, 7, 1, 2, 3]

In [186]:
A [ : : ]

[9, 7, 1, 2, 3]

In [187]:
name = "STACKUP"

In [ ]:
"STACK"

In [188]:
name[ 0 : 5 : 1]

'STACK'

In [190]:
name[ 0 : 5]

'STACK'

In [191]:
name[  : 5 ]

'STACK'

In [192]:
name[0:5]

'STACK'

In [195]:
A[ :3 ]

[9, 7, 1]

In [194]:
A [ slice(3) ]

[9, 7, 1]

In [ ]:
slice(5)

In [ ]:
slice(5,10)

In [ ]:
slice(1,7,2)

In [182]:
A

[9, 7, 1, 2, 3]

In [183]:
A[ 0:  :  2]

[9, 1, 3]

In [184]:
A [  :  : -1  ]

[3, 2, 1, 7, 9]

In [181]:
A [1:-1]

[7, 1, 2]

In [ ]:
range(5)
range(1,4)

## Data Manipulations examples

In [ ]:
- index

- slice

In [196]:
A[1000]

IndexError: list index out of range

In [198]:
A[:1000]

[9, 7, 1, 2, 3]

In [201]:
c="""Prasanna Veer
Devang Khokhani
Sarah Lim
Lim Yan You
Laurence Yeo
teo yong he wayne
Lim Tau San
Ho Bing Hong
Chiam Sheng Xun
Heng Yuan Rong
Anusorn Minphimai
Fam Kai Deng
Xiang Shang
Chaim Seng Hin
Roswan Abu Hassan
Koh Kok Hui
Lin Weicheng
Bertram Tan Wen Kai
Thirutanigaasalam Naidu
See Kok Hean
Poh Wei Chian
Kenneth Kan
Cheng Kah Wai
Nicholas Au
Tan Wenyi
Anson Koh
Lim Chee Kiat
"""
names = c.splitlines()

In [204]:
names = c.splitlines()

In [206]:
names

['Prasanna Veer',
 'Devang Khokhani',
 'Sarah Lim',
 'Lim Yan You',
 'Laurence Yeo',
 'teo yong he wayne',
 'Lim Tau San',
 'Ho Bing Hong',
 'Chiam Sheng Xun',
 'Heng Yuan Rong',
 'Anusorn Minphimai',
 'Fam Kai Deng',
 'Xiang Shang',
 'Chaim Seng Hin',
 'Roswan Abu Hassan',
 'Koh Kok Hui',
 'Lin Weicheng',
 'Bertram Tan Wen Kai',
 'Thirutanigaasalam Naidu',
 'See Kok Hean',
 'Poh Wei Chian',
 'Kenneth Kan',
 'Cheng Kah Wai',
 'Nicholas Au',
 'Tan Wenyi',
 'Anson Koh',
 'Lim Chee Kiat']

In [ ]:
## index

In [207]:
# find out the 3rd item in this list

In [213]:
names[3]

'Lim Yan You'

In [212]:
## slicing
# get the last 2 names...
names[ -2 :  ]

['Anson Koh', 'Lim Chee Kiat']

In [215]:
# modify the first item to "bala"
names[0] = "bala"

In [217]:
# names

In [218]:
# remove item "bala" from the list
names.<TAB-KEY>

['bala',
 'Devang Khokhani',
 'Sarah Lim',
 'Lim Yan You',
 'Laurence Yeo',
 'teo yong he wayne',
 'Lim Tau San',
 'Ho Bing Hong',
 'Chiam Sheng Xun',
 'Heng Yuan Rong',
 'Anusorn Minphimai',
 'Fam Kai Deng',
 'Xiang Shang',
 'Chaim Seng Hin',
 'Roswan Abu Hassan',
 'Koh Kok Hui',
 'Lin Weicheng',
 'Bertram Tan Wen Kai',
 'Thirutanigaasalam Naidu',
 'See Kok Hean',
 'Poh Wei Chian',
 'Kenneth Kan',
 'Cheng Kah Wai',
 'Nicholas Au',
 'Tan Wenyi',
 'Anson Koh',
 'Lim Chee Kiat']

In [221]:
names.remove( 'bala'  )

In [226]:
names.insert(0, "bala")

In [228]:
# del (0)
# del ?
del names[0]

In [237]:
names.append("bala")

In [238]:
names

['Devang Khokhani',
 'Sarah Lim',
 'Lim Yan You',
 'Laurence Yeo',
 'teo yong he wayne',
 'Lim Tau San',
 'Ho Bing Hong',
 'Chiam Sheng Xun',
 'Heng Yuan Rong',
 'Anusorn Minphimai',
 'Fam Kai Deng',
 'Xiang Shang',
 'Chaim Seng Hin',
 'Roswan Abu Hassan',
 'Koh Kok Hui',
 'Lin Weicheng',
 'Bertram Tan Wen Kai',
 'Thirutanigaasalam Naidu',
 'See Kok Hean',
 'Poh Wei Chian',
 'Kenneth Kan',
 'Cheng Kah Wai',
 'Nicholas Au',
 'Tan Wenyi',
 'Anson Koh',
 'Lim Chee Kiat',
 'bala']

In [242]:
len(names)

27

In [244]:
# names

In [241]:
"bala" in names

# for name in names:
#     print(name)

True

In [245]:
names.clear()

In [ ]:
names[0]

names[:3]

names[-1] = "Bala"

del names

del names[2]

del names[-2:]

# tuple

In [247]:
nums_tuple = (100,200,300)

In [248]:
nums_tuple.index(100)

0

In [249]:
nums_tuple.count(100)

1

In [250]:
nums_tuple[0]
#100

100

In [251]:
nums_tuple[1:2]

#200

(200,)

In [252]:
nums_tuple[0] = 2000

TypeError: 'tuple' object does not support item assignment

In [253]:
del nums_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [257]:
tmp = list(nums_tuple)
tmp[-1] = 3000
tuple(tmp)

(100, 200, 3000)

In [258]:
"HELLO" +  "WORLD"

'HELLOWORLD'

In [261]:
nums_tuple[:2] + (3000,)

(100, 200, 3000)

# str

In [262]:
msg = "WELCOME TO STACKUP"

In [264]:
msg.split()

['WELCOME', 'TO', 'STACKUP']

In [266]:
msg.count("E")

2

In [ ]:
msg.find("TO")

In [268]:
msg.lower()

'welcome to stackup'

In [269]:
msg.upper()

'WELCOME TO STACKUP'

In [270]:
msg.endswith("UP")

True

In [271]:
msg

'WELCOME TO STACKUP'

In [272]:
msg[0]

'W'

In [273]:
msg[:4]

'WELC'

In [274]:
del msg[0]

TypeError: 'str' object doesn't support item deletion

In [276]:
msg[0] = 'H'

TypeError: 'str' object does not support item assignment

In [278]:
msg = "          WELCOME TO STACKUP    \t"

In [279]:
msg.strip()

'WELCOME TO STACKUP'

In [280]:
msg

'          WELCOME TO STACKUP    \t'

# set

In [289]:
myset = {1,2,1,1}
myset2 = {10,20}

In [286]:
myset.add(3)

In [287]:
myset

{1, 2, 3}

In [290]:
myset.union(myset2)

{1, 2, 10, 20}

In [291]:
myset.intersection(myset2)

set()

# dict

In [303]:
weatherinfo = {"coord":{"lon":112.5,"lat":2.5},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"stations","main":{"temp":303.15,"feels_like":307.87,"temp_min":303.15,"temp_max":303.15,"pressure":1010,"humidity":70},"visibility":10000,"wind":{"speed":1.5},"clouds":{"all":75},"dt":1578376552,"sys":{"type":1,"id":9369,"country":"MY","sunrise":1578350172,"sunset":1578393307},"timezone":28800,"id":1733045,"name":"Malaysia","cod":200}

In [305]:
type(weatherinfo["weather"])

list

In [306]:
len(weatherinfo["weather"])

1

In [308]:
weatherinfo["weather"][0]['description']

'broken clouds'

In [299]:
weatherinfo["name"][-3:]

'sia'

In [302]:
weatherinfo["name"][-3:]

'sia'

In [ ]:
"sia"

In [293]:

weatherinfo["name"]

'Malaysia'

In [297]:
# to get the sunrise time
weatherinfo['sys']["sunrise"]

1578350172

In [309]:
price = {
    "USD": 7871.19,
    "JPY": 852241.84,
    "EUR": 7038.89
}

In [315]:
price.get("USD")
price["USD"]

7871.19

In [317]:
price.keys()

dict_keys(['USD', 'JPY', 'EUR'])

In [318]:
price.values()

dict_values([7871.19, 852241.84, 7038.89])

In [319]:
price.items()

dict_items([('USD', 7871.19), ('JPY', 852241.84), ('EUR', 7038.89)])

In [320]:
del price["USD"]

{'USD': 7871.19, 'JPY': 852241.84, 'EUR': 7038.89}

In [ ]:
price['USD'] = 1000

In [321]:
price['dummy'] = 2000

In [327]:
price

{'USD': 7871.19, 'JPY': 852241.84, 'EUR': 7038.89}

In [331]:
for key in price:
    print(key,  price[key])

USD 7871.19
JPY 852241.84
EUR 7038.89

In [332]:
for key in price.items():
    print(key)

('USD', 7871.19)
('JPY', 852241.84)
('EUR', 7038.89)

In [333]:
for v in price.values():
    print(v)

7871.19
852241.84
7038.89

In [325]:
# del price['dummy']

## Error Handling

## Class & Objects

1. Design a class
2. Create an object from class
3. Usage:
    - use the object to Access attributes
    - use the object to Call functions / methods

In [342]:
values = [
    1,
    10.,
    True,
    False,
    "Hello",
    [1,2,3],
    (10,20),
    {
        "a": "APPL",
        "g": "GOGL"
    },
    {10,20,30},
    print,
]

In [343]:
for v in values:
    print(v, type(v))

1 <class 'int'>
10.0 <class 'float'>
True <class 'bool'>
False <class 'bool'>
Hello <class 'str'>
[1, 2, 3] <class 'list'>
(10, 20) <class 'tuple'>
{'a': 'APPL', 'g': 'GOGL'} <class 'dict'>
{10, 20, 30} <class 'set'>
<built-in function print> <class 'builtin_function_or_method'>

In [350]:
[10,20]
(10,20)
{"a": "apple"}

a = list([10,20])
b = tuple( (10,20) )
c = dict(   {"a": "apple"})

In [388]:
class Car():
    
    def __init__(self,color, model):
        # attr
        self.color = color
        self.model = model
        self.history = []
    
    #methods
    def move(self, dir="F"):
        self.history.append(dir)
        print("Moving ", dir)
    
    #methods
    def stop(self):
        print("stop")

In [389]:
#create a c1 object from Car class
c1 = Car(color="black",model="Audi")

In [390]:
#access history attribute from c1 object
c1.history

[]

In [395]:
#call move method from c1 object
c1.move()

Moving  F

In [396]:
c1.history

['B', 'F', 'F']

In [372]:
c1.move()

Moving

In [373]:
c1.stop()

stop

In [360]:
class Student():
    
    def study(self):
        print("I am studying...")
    
    def play(self):
        print("Playing...")


bala = Student()

In [361]:
print(type(bala))

<class '__main__.Student'>

In [351]:
type(a), type(b), type(c)

(list, tuple, dict)

## Calculator

In [404]:
class Calculator():
    
    def __init__(self):
        self.history = []
        
    def add(self,a,b):
        res = a+b
        expr_and_res = (f"{a} + {b}", res)
        self.history.append( expr_and_res   )
        return res
    
    def sub(self,a,b):
        res = a-b
        expr_and_res = (f"{a} - {b}", res)
        self.history.append( expr_and_res   )
        return res
    
    def mul(self,x,y):
        res = x*y
        expr_and_res = (f"{x} * {y}", res)
        self.history.append( expr_and_res   )
        return res
    
    def div(self,a,b):
        res = a/b
        expr_and_res = (f"{a} / {b}", res)
        self.history.append( expr_and_res   )
        return res

In [415]:
class Calculator():
#     history = []
    def __init__(self):
        self.history = []
        
    def add(self,a,b):
        self._perform_cal(a,b,"+")
    
    def sub(self,a,b):
        self._perform_cal(a,b,"-")
    
    def mul(self,x,y):
        self._perform_cal(x,y,"*")
    
    def div(self,x,y):
        self._perform_cal(x,y,"/")
    
    def _perform_cal(self,a,b,ops):
        expr = f"{a} {ops} {b}"
        res = eval(expr)
        self.history.append( (expr,res)   )
        return res

In [413]:
c1 = Calculator()

In [416]:
c1

In [409]:
c1 = Calculator()
c1.add(1,2)
c1.add(10,2)

12

12

In [402]:
c1.history

[('1 + 2', 3), ('10 + 2', 12)]

In [410]:
# Calculator class usage


c1 = Calculator()
c1.add(1,2)
c1.sub(1,2)
c1.mul(x=1,y=2)
c1.div(1,2)

c1.history #all the operations & its results...

[('1 + 2', 3), ('1 - 2', -1), ('1 * 2', 2), ('1 / 2', 0.5)]

In [421]:
from pandas import DataFrame

In [422]:
rows = [
    (1,27,"bala"),
    (2,30,"ken")
]

df = DataFrame(rows)

In [423]:
#calling a method from the df object
df.head()

   0   1     2
0  1  27  bala
1  2  30   ken

In [424]:
df.tail()

   0   1     2
0  1  27  bala
1  2  30   ken

In [426]:
df.mean()

0     1.5
1    28.5
dtype: float64

In [427]:
df.max()

0      2
1     30
2    ken
dtype: object

### Error Handling

In [438]:
try:
    int("hello")
    1/0
except ValueError:
    print("value error")
except ZeroDivisionError:
    print("u cant divide by 0")
except:
    print("something went wrong..")

value error

In [435]:
try:
    1/0
except:
    print("u cant divide by 0")

u cant divide by 0

In [431]:
try:
    print(1)
    print(1/0)
    print(2)
except:
    print("something went wrong")

1
something went wrong

In [432]:
try:
    print(1)
    print(1/0)
    print(2)
except Exception as e:
    print(e)

1
division by zero

In [428]:
1/0

ZeroDivisionError: division by zero

In [429]:
10 ) 3

SyntaxError: invalid syntax (<ipython-input-429-060786506724>, line 1)